@model NguyenThiTrang573.Models.PersionNTT573

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersionNTT573</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
